Package: NAME
Version: VERSION
Section: base
Priority: optional
Provides: NAME
Replaces: NAME, lvrt19-schroot, lvrt20-schroot, lvrt21-schroot, lvrt22-schroot, lvrt23-schroot, lvrt24-schroot
Conflicts: NAME, lvrt19-schroot, lvrt20-schroot, lvrt21-schroot, lvrt22-schroot, lvrt23-schroot, lvrt24-schroot
Architecture: ARCH
Depends: schroot, python3, avahi-daemon
Maintainer: LabVIEWMakerHub Administrator <admin@labviewmakerhub.com>
Description: LabVIEW run-time schroot
 A schroot environment to allow the softfp LabVIEW run-time to run on a hardfp
 Debian distro.

