Package: lvrt-schroot
Version: VERSION
Section: base
Priority: optional
Provides: lvrt-schroot
Replaces: lvrt-schroot, lvrt19-schroot, lvrt20-schroot
Conflicts: lvrt-schroot, lvrt19-schroot, lvrt20-schroot
Architecture: armhf
Depends: schroot, python, avahi-daemon, debhelper
Maintainer: LabVIEWMakerHub Administrator <admin@labviewmakerhub.com>
Description: LabVIEW run-time schroot
 A schroot environment to allow the softfp LabVIEW run-time to run on a hardfp
 Debian distro.

