Package: lvrt19-schroot
Version: VERSION
Section: base
Priority: optional
Replaces: lvrt-schroot (<< 19.0.1-6)
Conflicts: lvrt-schroot (<< 19.0.1-6)
Architecture: armhf
Depends: schroot, python, avahi-daemon
Maintainer: LabVIEWMakerHub Administrator <admin@labviewmakerhub.com>
Description: LabVIEW run-time schroot
 A schroot environment to allow the softfp LabVIEW run-time to run on a hardfp
 Debian distro.

