[Unit]
Description=LabVIEW 2025 Q1 chroot run-time daemon
After=network.target

[Service]
Type=forking
PIDFile=/run/lvrt.pid
ExecStartPre=/usr/sbin/schroot-lv-start.sh
ExecStart=/usr/bin/schroot --run-session -c lv -- /etc/init.d/nilvrt start
ExecStop=/usr/bin/schroot --run-session -c lv -- /etc/init.d/nilvrt stop
ExecStopPost=/usr/bin/schroot --end-session -c lv

[Install]
WantedBy=multi-user.target


