[Unit]
Description=Linx Serial IO Server
Requires=labview.service
After=labview.service

[Service]
Type=simple
ExecStart=/usr/sbin/chroot /var/lib/schroot/mount/lv /usr/bin/linxioserver -serial 0

